h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

#navLogo {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
}

#containerOne{
    margin-top: 20px;
    padding: 200px;
    background-image: url(../img/espressoOne.jpg);
    background-size: cover;
}
#containerTwo {
    padding: 100px;
}

.productSection {
    padding-bottom: 300px;
}